# Node.js bağımlılıkları
node_modules/

# Kubernetes dosyaları
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/.terraform/
**/terraform.tfstate.backup

# Gitle ilgili dosyalar
!.gitignore
