# Node.js bağımlılıkları
node_modules/

# Kubernetes dosyaları
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
**/.terraform/
**/terraform.tfstate.backup

# Gitle ilgili dosyalar
!.gitignore
README-image